
.vs/*
src/*/*/.vs/*
src/*/*/out/*
target/*/*/.vs/*
target/*/.vs/*
target/*/*/bin/*
target/*/*/obj/*
target/*/*/x64/*
target/*/bin/*
target/*/obj/*
target/*/x64/*
logs/*
data/export/*
data/kline/*
data/store/*
*.log
*.pyc
*.tar
doc/html/*
bin/xman
bin/xload
bin/xpurch
bin/xbasket
sbin/*
bin/*


doc/~$管理平台软件需求规格说明书.doc
